<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>isUse</key>
		<true/>
		<key>headerDes</key>
		<string>企业/个人信息</string>
		<key>footerDes</key>
		<string></string>
		<key>dataArray</key>
		<array>
			<dict>
				<key>moduleName</key>
				<string>*类别</string>
				<key>isUse</key>
				<true/>
				<key>moduleIcon</key>
				<string></string>
			</dict>
			<dict>
				<key>moduleName</key>
				<string>*公司名称</string>
				<key>isUse</key>
				<true/>
				<key>moduleIcon</key>
				<string></string>
			</dict>
			<dict>
				<key>moduleName</key>
				<string>*行业类别</string>
				<key>isUse</key>
				<true/>
				<key>moduleIcon</key>
				<string></string>
			</dict>
			<dict>
				<key>moduleName</key>
				<string>*成立时间</string>
				<key>isUse</key>
				<true/>
				<key>moduleIcon</key>
				<string></string>
			</dict>
			<dict>
				<key>moduleName</key>
				<string>*公司规模</string>
				<key>isUse</key>
				<true/>
				<key>moduleIcon</key>
				<string></string>
			</dict>
			<dict>
				<key>moduleName</key>
				<string>*公司简介</string>
				<key>isUse</key>
				<true/>
				<key>moduleIcon</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>isUse</key>
		<true/>
		<key>headerDes</key>
		<string>入住信息</string>
		<key>footerDes</key>
		<string></string>
		<key>dataArray</key>
		<array>
			<dict>
				<key>moduleName</key>
				<string>*入住人数</string>
				<key>isUse</key>
				<true/>
				<key>moduleIcon</key>
				<string></string>
			</dict>
			<dict>
				<key>moduleName</key>
				<string>*租赁期限</string>
				<key>isUse</key>
				<true/>
				<key>moduleIcon</key>
				<string></string>
			</dict>
			<dict>
				<key>moduleName</key>
				<string>*空间类别</string>
				<key>isUse</key>
				<true/>
				<key>moduleIcon</key>
				<string></string>
			</dict>
			<dict>
				<key>moduleName</key>
				<string>*计划入住时间</string>
				<key>isUse</key>
				<true/>
				<key>moduleIcon</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>isUse</key>
		<true/>
		<key>headerDes</key>
		<string>负责人联系方式</string>
		<key>footerDes</key>
		<string></string>
		<key>dataArray</key>
		<array>
			<dict>
				<key>moduleName</key>
				<string>*真实姓名</string>
				<key>isUse</key>
				<true/>
				<key>moduleIcon</key>
				<string></string>
			</dict>
			<dict>
				<key>moduleName</key>
				<string>职称</string>
				<key>isUse</key>
				<true/>
				<key>moduleIcon</key>
				<string></string>
			</dict>
			<dict>
				<key>moduleName</key>
				<string>*联系电话</string>
				<key>isUse</key>
				<true/>
				<key>moduleIcon</key>
				<string></string>
			</dict>
			<dict>
				<key>moduleName</key>
				<string>*联系邮箱</string>
				<key>isUse</key>
				<true/>
				<key>moduleIcon</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>isUse</key>
		<true/>
		<key>headerDes</key>
		<string>图片上传</string>
		<key>footerDes</key>
		<string></string>
		<key>dataArray</key>
		<array>
			<dict>
				<key>moduleName</key>
				<string>添加图片</string>
				<key>isUse</key>
				<true/>
				<key>moduleIcon</key>
				<string></string>
			</dict>
		</array>
	</dict>
</array>
</plist>
